body{
    width: 100%
}

h2{
    text-align: center;
    margin-top: 10%;
    font-family::arial;
    font-size: 3em;
    }

    footer{

        margin-top: 30%;
        margin-left: 40%;
    }

.animation{
    position: absolute;
    margin-top:3%;
    margin-left: 45%;
    
    animation-name: mano;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}

@keyframes mano { 
    from{
        transform: rotate(-50deg);
        
    to{
        transform: rotate(50deg);
       
    }

